@import '../../css/variables';

.footer {
  padding: 30px 20px;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-blue-400);
  &__text {
    display: flex;
    justify-content: center;
    gap: 7px;
  }
  &__icon {
    width: 16px;
  }
  &__link {
    color: var(--color-blue-200);
    text-decoration: none;
    transition: 0.1s color ease;
  }
  &__link:hover {
    color: var(--color-blue-300);
  }
}
